# URL de l'API consommee par l'application mobile.
# Android emulateur : http://10.0.2.2:4000/api/v1
# iOS simulateur    : http://localhost:4000/api/v1
# Telephone reel    : http://<IP-LAN-du-serveur>:4000/api/v1  (ex. http://192.168.1.4:4000/api/v1)
EXPO_PUBLIC_API_URL=http://10.0.2.2:4000/api/v1
